@model CloudDevPOE.Models.Tbl_Products
@{
    ViewData["Title"] = "Add Product";
}


<h1>Add Product</h1>
<p>Please fill in the details of the product you want to add.</p>

<body>
    <form action="AddProduct" method="post">
        <p>Add Product</p>
        <input type="text" id="ProductName" name="ProductName" placeholder="Product Name" required>
        <input type="text" id="ProductCategory" name="ProductCategory" placeholder="Product Category" required>
        <textarea id="ProductDescription" name="ProductDescription" placeholder="Product Description" required></textarea>
        <input type="number" id="ProductPrice" name="ProductPrice" placeholder="Product Price" required>
        <input type="number" id="ProductQuantity" name="ProductQuantity" placeholder="Product Quantity" required>
        <input type="hidden" name="ProductAvailability" value="false" />
        <input type="checkbox" id="ProductAvailability" name="ProductAvailability" value="true" />Available

        <button type="submit">Submit</button>
    </form>
</body>