@model List<CloudDevPOE.ViewModels.ProductSummaryViewModel>

@{
    ViewData["Title"] = "My Work";
}
<head>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <style>
		/* This class is for the section that contains all products of a specific category */
		.category-section {
			box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
			background-color: #ffec99;
			padding: 15px;
			border-radius: 25px;
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
		}

		/* This class is for the title of each category */
		.category-title {
			text-transform: uppercase;
/* 			font-family: "Raleway"; */
			word-wrap: break-word;
			float: left;
/* 			font-size: 1.53846rem; */
			color: #4d4d4f;
			display: inline-block;
			font-weight: bold;
			cursor: pointer;
			text-decoration: none;
		}

			.category-title:hover {
				color: #4d4d4f;
				text-decoration: underline;
			}

		/* This class is for the container that holds all the product cards of a specific category */
		.product-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
    </style>
</head>

<main style="padding: 15px 40px">
	@* Group products by category *@
	@foreach (var categoryGroup in Model.GroupBy(product => product.ProductCategory))
	{
		<section class="category-section">
			<h4 class="category-title">@categoryGroup.Key</h4>
			<div class="product-container">
				@foreach (var product in categoryGroup)
				{
					@Html.Partial("_ProductSummaryCard", product)
				}
			</div>
		</section>
	}
</main>

@section Scripts {
    
}