@model CloudDevPOE.Models.Tbl_Users
@{
    ViewData["Title"] = "Sign Up";
}


<h1>Sign Up</h1>
<p>you need to sign up in the website for the application.</p>

<body>
    <form action="SignUp" method="post" id="signupForm">
        <p>Sign Up</p>
        <input type="text" id="Name" name="Name" placeholder="Name" required>
        <input type="text" id="Surname" name="Surname" placeholder="Surname" required>
        <input type="email" id="Email" name="Email" placeholder="example@gmail.com" required>
        <input type="password" id="Password" name="Password" placeholder="Password" required>
        <input type="password" id="ConfirmPassword" placeholder="Confirm Password" required>

        <button type="submit">Submit</button>
    </form>
</body>

@section Scripts {
    <script>
        document.getElementById('signupForm').addEventListener('submit', function (event) {
            var password = document.getElementById('Password').value;
            var confirmPassword = document.getElementById('ConfirmPassword').value;

            if (password !== confirmPassword) {
                alert('Passwords do not match.');
                event.preventDefault();
            }
        });
    </script>
}