
<head>
    <style>
        .form {
            --font-color: #333333;
            --font-color-sub: #666666;
            --bg-color: #fff;
            --main-color: #323232;
            --highlight-color: #eebefa;
            padding: 20px;
            background: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
            gap: 20px;
            border-radius: 5px;
            border: 2px solid var(--main-color);
            box-shadow: 4px 4px var(--main-color);
        }

        .title {
            color: var(--font-color);
            font-weight: 900;
            font-size: 22px;
            margin-bottom: 25px;
        }

            .title span {
                color: var(--font-color-sub);
                font-weight: 600;
                font-size: 17px;
            }

        .inputbox {
            width: 250px;
            height: 40px;
            border-radius: 5px;
            border: 2px solid var(--main-color);
            background-color: var(--bg-color);
            box-shadow: 4px 4px var(--main-color);
            font-size: 15px;
            font-weight: 600;
            color: var(--font-color);
            padding: 5px 10px;
            outline: none;
        }

            .inputbox::placeholder {
                color: var(--font-color-sub);
                opacity: 0.8;
            }

            .inputbox:focus {
                transform: translateY(4px);
                box-shadow: 1px 2px 0px 0px var(--highlight-color);
            }

		.modal-dialog {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: calc(100% - (1.75rem * 2));
		}

        .button-log {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: 2px solid var(--main-color);
            background-color: var(--bg-color);
            box-shadow: 4px 4px var(--main-color);
            color: var(--font-color);
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon {
            width: 24px;
            height: 24px;
            fill: var(--main-color);
        }

        .button-log:active, .button-confirm:active {
            box-shadow: 0px 0px var(--highlight-color);
            transform: translate(3px, 3px);
        }

        .button-confirm {
            margin: 50px auto 0 auto;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            border: 2px solid var(--main-color);
            background-color: var(--bg-color);
            box-shadow: 4px 4px var(--main-color);
            font-size: 17px;
            font-weight: 600;
            color: var(--font-color);
            cursor: pointer;
        }

		.error-bar {
			width: 100%;
			background-color: #ffcccc; /* Light red */
			color: #cc0000; /* Dark red */
			padding: 10px;
			text-align: center;
			display: none; /* Initially hidden */
		}
    </style>
</head>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="loginForm" method="post" action="" class="form">
                <div class="title">Welcome,<br><span>login to continue</span></div>
                <input type="email" placeholder="Email" name="email" class="inputbox" required>
                <input type="password" placeholder="Password" name="password" class="inputbox" required>
                
				<div id="errorBar" class="error-bar"></div>

				<button type="submit" class="button-confirm">Let`s go →</button>
            </form>
        </div>
    </div>
</div>