@{
    ViewData["Title"] = "About Us";
}
<head>
    <style>

        .logo {
            width: 550px;
            height: auto;
        }

        .gridContainer {
            display: grid;
            grid-template-columns: repeat(4, 280px);
            grid-template-rows: repeat(6, 280px);
            grid-gap: 10px;
            padding-top: 15px;
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: border-box; /* Include padding and border in element's total width and height */
        }

        .box {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            border-radius: 25px;
            
            align-items: center;
            justify-content: center;
        }

        #box1 {
            grid-column: span 4;
            grid-row: span 2;
            width: auto;
            height: auto;
            background-color: #96f2d7;
        }

        #box4 {
            grid-column: span 2;
        }

    </style>
</head>


<main class="content" style="text-align: center;">
    <div>
        <div class="gridContainer" id="gridContainer1">
            <div class="box" id="box1">
                <h1>Welcome To</h1>
                <img class="logo" src="~/images/logo_1.png" alt="KhumaloCraft Emporium logo">
            </div>

            <div class="box" id="box2" style="background-color: #b2f2bb">
                2
            </div>

            <div class="box" id="box3" style="background-color: #a5d8ff">
                3
            </div>

            <div class="box" id="box4" style="background-color: #eebefa">
                4
            </div>

            <div class="box" id="box5" style="background-color: #96f2d7">
                5
            </div>

            <div class="box" id="box6" style="background-color: #ffec99">
                6
            </div>

            <div class="box" id="box1">
                1
            </div>

            <div class="box" id="box2" style="background-color: #b86f26">
                2
            </div>

            <div class="box" id="box3" style="background-color: #00FA9A">
                3
            </div>

            <div class="box" id="box4" style="background-color: #D40AFD">
                4
            </div>

            <div class="box" id="box5" style="background-color: #006699">
                5
            </div>

            <div class="box" id="box6" style="background-color: #FF4500">
                6
            </div>
        </div>
    </div>
</main>