@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Work";
}
<head>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flex-layout.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/prodduct-card.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <style>
        .contentColumn {
            gap: 30px;
        }

        #mainContentColumn {
            padding: 15px 40px;
            text-align: center;
            gap: 30px;
        }

        .product {
            cursor: pointer;
            background-color: #ffffff;
            transition: box-shadow 0.3s ease, background-color 0.3s ease;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 500;
            font-family: "Raleway";
            word-wrap: break-word;
        }

        h4 {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            word-wrap: break-word;
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: 600;
        }

        #section1 {
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
            background-color: #ffec99;
            padding: 15px;
            border-radius: 25px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        #section2 {
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
            background-color: #EEBEFA;
            padding: 15px;
            border-radius: 25px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        #box1 {
            background-color: #EEBEFA;
        }

        .swiperSection {
            margin-bottom: 20px;
        }

        .swiperSection .swiper-container {
            overflow: hidden;
            display: inline-block;
        }

        .swiperSection .swiper-slide {
            /* background-color: black; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiperSection .box {
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            width: 250px;
            overflow: hidden;
            padding: 0;
        }

            .swiperSection .box .image-box {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .swiperSection .box .image-box img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

            .swiperSection .box .details {
                border-top: 2px solid #efefef;
                padding: 20px;
                height: 135px;
                text-align: center;
                font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            }

                .swiperSection .box .details h4 {
                    margin-bottom: 8px;
                    font-size: 18px;
                    font-weight: 600;
                }

                .swiperSection .box .details .price {
                    font-size: 22px;
                    font-weight: bold;
                    color: #009688;
                }


        .swiperSection .custom-button {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            vertical-align: middle;
            color: #4d4d4f;
            font-size: 1.07692rem;
            font-weight: bold;
            background: none;
            border: 1px solid #4d4d4f;
            border-radius: 2px;
            text-align: center;
            text-decoration: none;
            transition: background-color 300ms, color 300ms, opacity 500ms, border-color 300ms;
            padding: 6px 14px;
            cursor: pointer;
            line-height: 1;
        }

            .swiperSection .custom-button:hover {
                border: 1px solid transparent;
                color: #fefefe;
                background: #4d4d4f;
            }

        .swiperSection .swiper-title {
            font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
            float: left;
            font-size: 1.53846rem;
            color: #4d4d4f;
            display: inline-block;
            margin-bottom: 0;
            font-weight: bold;
        }

            .swiperSection .swiper-title a {
                color: #4d4d4f;
                cursor: pointer;
                text-decoration: none;
            }

                .swiperSection .swiper-title a:hover {
                    color: #4d4d4f;
                    cursor: pointer;
                    text-decoration: underline;
                }

        .swiperSection .swiper-button-next, .swiper-button-prev {
            position: absolute;
            top: 50%;
            width: 42.5px;
            height: 42.5px;
            margin-top: -22px;
            z-index: 2;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 2px 2px 0 rgba(77,77,79,0.08), 0 0 2px 0 rgba(77,77,79,0.16);
            outline: none;
            opacity: 1;
            transition: opacity 300ms ease-out;
        }

        .swiperSection .swiper-button-prev {
            left: -15px;
            background: rgba(77,77,79,0.8) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(254,254,254)' width='18.6' height='18.6' viewBox='0 0 24 24'%3E%3Cpath d='M8.6 12l8.1 8.1L15 21.9l-9.8-9.9L15 2.1 16.8 3.9l-8.2 8.1z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
        }

        .swiperSection .swiper-button-next {
            right: -15px;
            background: rgba(77,77,79,0.8) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(254,254,254)' width='18.6' height='18.6' viewBox='0 0 24 24'%3E%3Cpath d='M15.4 12l-8.1 8.1L9 21.9l9.8-9.9L9 2.1 7.2 3.9l8.2 8.1z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
        }

        .swiperSection .swiper:hover .swiper-button-next, .swiper:hover .swiper-button-prev {
            opacity: 0;
        }

        .swiperSection .swiper-button-next::after, .swiper-button-prev::after {
            display: none;
        }

    </style>
</head>

<main>
    <div id="mainContentColumn" class="contentColumn">
        <div id="section1" class="swiperSection contentColumn">
            <div>
                <h2 class="swiper-title">
                    <a href="#">
                        Shop Pottery
                    </a>
                </h2>
                <div style="float: right">
                    <button class="custom-button">View More</button>
                </div>
            </div>
            <div class="rowContent" style="position: relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton1">
                                <div class="image-box">
                                    <img src="~/images/products/item1.jpg">
                                </div>

                                <div class="details">
                                    <h4>Charming Ceramics Set</h4>
                                    <div class="price">R 250</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton2">
                                <div class="image-box">
                                    <img src="~/images/products/item2.jpg">
                                </div>

                                <div class="details">
                                    <h4>Azure Elegance Vase</h4>
                                    <div class="price">R 220</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton3">
                                <div class="image-box">
                                    <img src="~/images/products/item3.jpg">
                                </div>

                                <div class="details">
                                    <h4>Teal Crescent Vase</h4>
                                    <div class="price">R 300</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton4">
                                <div class="image-box">
                                    <img src="~/images/products/item4.jpg">
                                </div>

                                <div class="details">
                                    <h4>Floral Harmony Teacup</h4>
                                    <div class="price">R 180</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton5">
                                <div class="image-box">
                                    <img src="~/images/products/item5.jpg">
                                </div>

                                <div class="details">
                                    <h4>Artisan Teapot Set</h4>
                                    <div class="price">R 350</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton6">
                                <div class="image-box">
                                    <img src="~/images/products/item6.jpg">
                                </div>

                                <div class="details">
                                    <h4>Porcelain Blue Blossom Set</h4>
                                    <div class="price">R 400</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton7">
                                <div class="image-box">
                                    <img src="~/images/products/item7.jpg">
                                </div>

                                <div class="details">
                                    <h4>Modern Splatter Vessels</h4>
                                    <div class="price">R 280</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton8">
                                <div class="image-box">
                                    <img src="~/images/products/item8.jpg">
                                </div>

                                <div class="details">
                                    <h4>Tranquil Tea Set</h4>
                                    <div class="price">R 320</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <div id="section2" class="swiperSection contentColumn">
            <div>
                <h2 class="swiper-title">
                    <a href="#">
                        Shop Painted Rocks
                    </a>
                </h2>
                <div style="float: right">
                    <button class="custom-button">View More</button>
                </div>
            </div>
            <div class="rowContent" style="position: relative">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton9">
                                <div class="image-box">
                                    <img src="~/images/products/item9.jpg">
                                </div>

                                <div class="details">
                                    <h4>Floral Fantasy Stones</h4>
                                    <div class="price">R 120</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton10">
                                <div class="image-box">
                                    <img src="~/images/products/item10.jpg">
                                </div>

                                <div class="details">
                                    <h4>Pink Blossom Stones</h4>
                                    <div class="price">R 130</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton11">
                                <div class="image-box">
                                    <img src="~/images/products/item11.jpg">
                                </div>

                                <div class="details">
                                    <h4>Sunny Daisy Stones</h4>
                                    <div class="price">R 110</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton12">
                                <div class="image-box">
                                    <img src="~/images/products/item12.jpg">
                                </div>

                                <div class="details">
                                    <h4>Daisy Delight Stones</h4>
                                    <div class="price">R 125</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton13">
                                <div class="image-box">
                                    <img src="~/images/products/item13.jpg">
                                </div>

                                <div class="details">
                                    <h4>Enchanted Garden Stones</h4>
                                    <div class="price">R 150</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton14">
                                <div class="image-box">
                                    <img src="~/images/products/item14.jpg">
                                </div>

                                <div class="details">
                                    <h4>Floral Fantasy Stones</h4>
                                    <div class="price">R 120</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton15">
                                <div class="image-box">
                                    <img src="~/images/products/item15.jpg">
                                </div>

                                <div class="details">
                                    <h4>Floral Painted Stones</h4>
                                    <div class="price">R 130</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box product" id="showItemButton16">
                                <div class="image-box">
                                    <img src="~/images/products/item16.jpg">
                                </div>

                                <div class="details">
                                    <h4>Botanical Bliss Stones</h4>
                                    <div class="price">R 140</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

        </div>
                
    </div>

    <!-- Product cards goes here -->
    <!-- Product card 1 -->
    <div id="productCard1" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item1.jpg">
        </div>
        <div class="description">
            <h2>Charming Ceramics Set</h2>
            <h4>Handcrafted Elegance</h4>
            <h1>R 250</h1>
            <p>
                Embrace the artistry of our 'Feline Grace' and 'Owl
                Wisdom' ceramic containers. Each piece is a testament
                to the skill of our artisans, perfect for adding a
                touch of elegance to any space.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 2 -->
    <div id="productCard2" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item2.jpg">
        </div>
        <div class="description">
            <h2>Azure Elegance Vase</h2>
            <h4>Decorative Ceramics</h4>
            <h1>R 220</h1>
            <p>
                Adorn your space with the 'Azure Elegance Vase',
                a masterpiece of ceramic craftsmanship featuring
                vibrant blue and yellow patterns, perfect for enhancing
                any interior with a splash of color.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 3 -->
    <div id="productCard3" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item3.jpg">
        </div>
        <div class="description">
            <h2>Teal Crescent Vase</h2>
            <h4>Abstract Artistry</h4>
            <h1>R 300</h1>
            <p>
                Experience the allure of the 'Teal Crescent Vase',
                a ceramic creation that marries modern abstract
                design with traditional craftsmanship. Its incomplete
                circle and textured patterns make it a captivating centerpiece.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 4 -->
    <div id="productCard4" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item4.jpg">
        </div>
        <div class="description">
            <h2>Floral Harmony Teacup</h2>
            <h4>Artisanal Tableware</h4>
            <h1>R 180</h1>
            <p>
                Indulge in the elegance of our 'Floral Harmony Teacup',
                featuring a dark brown hue adorned with an exquisite floral
                design, perfect for savoring your favorite tea.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 5 -->
    <div id="productCard5" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item5.jpg">
        </div>
        <div class="description">
            <h2>Artisan Teapot Set</h2>
            <h4>Traditional Ceramics</h4>
            <h1>R 350</h1>
            <p>
                Steep in tradition with our 'Artisan Teapot Set',
                featuring a timeless design and intricate color scheme
                that brings the art of tea to life.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 6 -->
    <div id="productCard6" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item6.jpg">
        </div>
        <div class="description">
            <h2>Porcelain Blue Blossom Set</h2>
            <h4>Traditional Porcelain</h4>
            <h1>R 400</h1>
            <p>
                Immerse yourself in the timeless beauty of our
                'Porcelain Blue Blossom Set', adorned with classic
                blue patterns that evoke the elegance of traditional
                ceramic art.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 7 -->
    <div id="productCard7" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item7.jpg">
        </div>
        <div class="description">
            <h2>Modern Splatter Vessels</h2>
            <h4>Contemporary Ceramics</h4>
            <h1>R 280</h1>
            <p>
                Enhance your decor with our 'Modern Splatter Vessels',
                featuring a bold black-on-white design that brings a
                touch of contemporary artistry to any setting.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 8 -->
    <div id="productCard8" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item8.jpg">
        </div>
        <div class="description">
            <h2>Tranquil Tea Set</h2>
            <h4>Wabi-Sabi Ceramics</h4>
            <h1>R 320</h1>
            <p>
                Embrace the art of imperfection with our
                'Tranquil Tea Set', inspired by the wabi-sabi
                aesthetic, perfect for reflective moments and a
                peaceful tea experience.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 9 -->
    <div id="productCard9" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item9.jpg">
        </div>
        <div class="description">
            <h2>Floral Fantasy Stones</h2>
            <h4>Decorative Accents</h4>
            <h1>R 120</h1>
            <p>
                Beautify your space with our 'Floral Fantasy Stones',
                hand-painted with love, featuring vibrant purple and
                blue floral patterns that bring nature's tranquility
                indoors.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 10 -->
    <div id="productCard10" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item10.jpg">
        </div>
        <div class="description">
            <h2>Pink Blossom Stones</h2>
            <h4>Artistic Garden</h4>
            <h1>R 130</h1>
            <p>
                Our 'Pink Blossom Stones' are a celebration of
                nature's beauty, hand-painted with delicate floral
                patterns to add a touch of artistic charm to your
                garden or home.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 11 -->
    <div id="productCard11" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item11.jpg">
        </div>
        <div class="description">
            <h2>Sunny Daisy Stones</h2>
            <h4>Garden Art</h4>
            <h1>R 110</h1>
            <p>
                Bring a dash of cheer to your garden with our
                'Sunny Daisy Stones', painted with joyful daisies
                to brighten any corner or pathway.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 12 -->
    <div id="productCard12" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item12.jpg">
        </div>
        <div class="description">
            <h2>Daisy Delight Stones</h2>
            <h4>Floral Decor</h4>
            <h1>R 125</h1>
            <p>
                Accentuate your home with our 'Daisy Delight Stones',
                featuring a vibrant blue backdrop with white daisies,
                perfect for adding a splash of color and charm.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 13 -->
    <div id="productCard13" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item13.jpg">
        </div>
        <div class="description">
            <h2>Enchanted Garden Stones</h2>
            <h4>Artistic Pebbles</h4>
            <h1>R 150</h1>
            <p>
                Our 'Enchanted Garden Stones' are meticulously
                painted with floral patterns and whimsical faces,
                adding a touch of magic and artistry to your outdoor
                or indoor space.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 14 -->
    <div id="productCard14" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item14.jpg">
        </div>
        <div class="description">
            <h2>Floral Fantasy Stones</h2>
            <h4>Decorative Accents</h4>
            <h1>R 120</h1>
            <p>
                Beautify your space with our 'Floral Fantasy Stones',
                hand-painted with love, featuring vibrant purple and
                blue floral patterns that bring nature's tranquility
                indoors.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 15 -->
    <div id="productCard15" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item15.jpg">
        </div>
        <div class="description">
            <h2>Floral Painted Stones</h2>
            <h4>Decorative Art</h4>
            <h1>R 130</h1>
            <p>
                Adorn your home with our 'Floral Painted Stones',
                a set of seven hand-decorated stones that bring a
                vibrant touch of artistry to any space.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 16 -->
    <div id="productCard16" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/item16.jpg">
        </div>
        <div class="description">
            <h2>Botanical Bliss Stones</h2>
            <h4>Nature-Inspired Decor</h4>
            <h1>R 140</h1>
            <p>
                Enhance your surroundings with our 'Botanical Bliss Stones',
                a set of nine stones painted with intricate purple floral
                designs, perfect for adding a natural artistic touch.
            </p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>


</main>
@section Scripts {
    <script>
        var isCardOpen = false;

        $('.product').click(function (event) {
            event.stopPropagation(); // Prevent the click from bubbling up to the document
            var cardId = 'productCard' + this.id.replace('showItemButton', '');

            // If no card is currently open, show the clicked card
            if (!isCardOpen) {
                $('#' + cardId).show();
                isCardOpen = true;
            } else {
                // If a card is open, start the closing animation and don't open a new one
                $('.card').addClass('closing');
                setTimeout(function () {
                    $('.card').hide().removeClass('closing');
                    isCardOpen = false;
                }, 300); // Delay equal to the animation duration
            }
        });


        $(document).click(function (event) {
            // If the target of the click isn't a card or a descendant of a card
            if (!$(event.target).closest('.card').length && !$(event.target).closest('.product').length) {
                $('.card').hide(); // Hide the card
                isCardOpen = false;
            }
        });

        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            
        });
    </script>
}