@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Work";
}
<head>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flex-layout.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/prodduct-card.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <style>
        #mainContentColumn {
            padding-top: 15px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 15px;
            text-align: center;
            gap: 30px;
        }

        #row1 {
            background-color: blue;
            
            justify-content: space-around;
        }
        #row2 {
            
        }

        .box .photo {
            height: auto;
            max-height: 80%;
            text-align: center;
            float: top;
            border-radius: 25px;
        }

        #box1 {
            background-color: #EEBEFA;
            width: auto;
            height: 300px;
        }

        .click-block {
            width: 50px;
            height: 50px;
            background-color: red;
            cursor: pointer;
        }
    </style>
</head>

<main>
    <div id="mainContentColumn" class="contentColumn">
        <div id="row1" class="rowContent">
            <div class="click-block" id="showItemButton1">
                <div id="productCard1" class="card" style="display: none;">
                    <!-- Product card content goes here -->
                    
                    <div class="photo">
                        <img src="~/images/products/test/plant.jpg">
                    </div>
                    <div class="description">
                        <h2>Classic Peace Lily</h2>
                        <h4>Popular House Plant</h4>
                        <h1>$18</h1>
                        <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                        <button>Add to Cart</button>
                        <button>Wishlist</button>
                    </div>
                </div>
            </div>
            <div class="click-block" id="showItemButton2">
                <div id="productCard2" class="card" style="display: none;">
                    <!-- Product card content goes here -->
                    
                    <div class="photo">
                        <img src="~/images/products/test/plant.jpg">
                    </div>
                    <div class="description">
                        <h2>Classic Peace Lily</h2>
                        <h4>Popular House Plant</h4>
                        <h1>$19</h1>
                        <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                        <button>Add to Cart</button>
                        <button>Wishlist</button>
                    </div>
                </div>
            </div>
            <div class="click-block" id="showItemButton3">
                <div id="productCard3" class="card" style="display: none;">
                    <!-- Product card content goes here -->
                    
                    <div class="photo">
                        <img src="~/images/products/test/plant.jpg">
                    </div>
                    <div class="description">
                        <h2>Classic Peace Lily</h2>
                        <h4>Popular House Plant</h4>
                        <h1>$20</h1>
                        <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                        <button>Add to Cart</button>
                        <button>Wishlist</button>
                    </div>
                </div>
            </div>
            <div class="click-block" id="showItemButton4">
                <div id="productCard4" class="card" style="display: none;">
                    <!-- Product card content goes here -->
                    
                    <div class="photo">
                        <img src="~/images/products/test/plant.jpg">
                    </div>
                    <div class="description">
                        <h2>Classic Peace Lily</h2>
                        <h4>Popular House Plant</h4>
                        <h1>$21</h1>
                        <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                        <button>Add to Cart</button>
                        <button>Wishlist</button>
                    </div>
                </div>
            </div>
            <div class="click-block" id="showItemButton5">
                <div id="productCard5" class="card" style="display: none;">
                    <!-- Product card content goes here -->
                    
                    <div class="photo">
                        <img src="~/images/products/test/plant.jpg">
                    </div>
                    <div class="description">
                        <h2>Classic Peace Lily</h2>
                        <h4>Popular House Plant</h4>
                        <h1>$22</h1>
                        <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
                        <button>Add to Cart</button>
                        <button>Wishlist</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="row2" class="rowContent">
            <div id="box1" class="box">
                <img class="photo" src="~/images/products/test/plant.jpg">

                @* <img class="photo" src="~/images/team/team4.png"> *@
            </div>
        </div>
    </div>
    
</main>
@section Scripts {
    <script>
        $('.click-block').click(function (event) {
            event.stopPropagation(); // Prevent the click from bubbling up to the document
            var cardId = 'productCard' + this.id.replace('showItemButton', '');
            $('#' + cardId).show(); // Show the card instead of toggling it
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('.card').length) {
                $('.card').hide();
            }
        });
    </script>
}