@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Work";
}
<head>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flex-layout.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/prodduct-card.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <style>
        #mainContentColumn {
            padding-top: 15px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 15px;
            text-align: center;
            gap: 30px;
        }

        .product{
            cursor: pointer;
            background-color: #FF9999;
        }
            .product:hover {
                transform: scale(1.05);
            }

        .box {
            box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
            height: 300px;
            width: auto;
        }

            .box .photo {
                height: auto;
                max-height: 80%;
                border-radius: 25px;
            }

            .box .description {
                padding-top: 7px;
                width: 80%;
                background-color: white;
            }

                .box .description h1 {
                    font-weight: 300;
                    padding-top: 15px;
                    margin: 0;
                    font-size: 30px;
                    font-weight: 300;
                    font-family: "Raleway";
                    word-wrap: break-word;
                }

                .box .description h2 {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-family: "Raleway";
                    word-wrap: break-word;
                }

                .box .description h4 {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: "Raleway";
                    word-wrap: break-word;
                }

        #box1 {
            background-color: #EEBEFA;
        }
    </style>
</head>

<main>
    <div id="mainContentColumn" class="contentColumn">
        <div id="row1" class="rowContent">
            <div class="box product" id="showItemButton1">
                <img class="photo" src="~/images/products/test/plant.jpg">
                <div class="description">
                    <h4>Popular House Plant</h4>
                </div>
                

            </div>
            <div class="box product" id="showItemButton2">
                <img class="photo" src="~/images/team/team4.png">
            </div>
            <div class="box product" id="showItemButton3">
                <img class="photo" src="~/images/products/test/plant.jpg">

                @* <img class="photo" src="~/images/team/team4.png"> *@
            </div>
            <div class="box product" id="showItemButton4">
                <img class="photo" src="~/images/products/test/plant.jpg">

                @* <img class="photo" src="~/images/team/team4.png"> *@
            </div>
        </div>

        
    </div>

    <!-- Product cards goes here -->
    <!-- Product card 1 -->
    <div id="productCard1" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/test/plant.jpg">
        </div>
        <div class="description">
            <h2>Classic Peace Lily</h2>
            <h4>Popular House Plant</h4>
            <h1>$18</h1>
            <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 2 -->
    <div id="productCard2" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/test/plant.jpg">
        </div>
        <div class="description">
            <h2>Classic Peace Lily</h2>
            <h4>Popular House Plant</h4>
            <h1>$19</h1>
            <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 3 -->
    <div id="productCard3" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/test/plant.jpg">
        </div>
        <div class="description">
            <h2>Classic Peace Lily</h2>
            <h4>Popular House Plant</h4>
            <h1>$20</h1>
            <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 4 -->
    <div id="productCard4" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/test/plant.jpg">
        </div>
        <div class="description">
            <h2>Classic Peace Lily</h2>
            <h4>Popular House Plant</h4>
            <h1>$21</h1>
            <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 5 -->
    <div id="productCard5" class="card" style="display: none;">
        <div class="photo">
            <img src="~/images/products/test/plant.jpg">
        </div>
        <div class="description">
            <h2>Classic Peace Lily</h2>
            <h4>Popular House Plant</h4>
            <h1>$22</h1>
            <p>Classic Peace Lily is a spathiphyllum floor plant arranged in a bamboo planter with a blue & red ribbom and butterfly pick.</p>
            <button>Add to Cart</button>
            <button>Wishlist</button>
        </div>
    </div>
    <!-- Product card 6 -->
    <!-- Product card 7 -->
    
</main>
@section Scripts {
    <script>
        $('.product').click(function (event) {
            event.stopPropagation(); // Prevent the click from bubbling up to the document
            var cardId = 'productCard' + this.id.replace('showItemButton', '');
            $('.card').hide(); // Hide all cards
            $('#' + cardId).show(); // Show the clicked card
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('.card').length) {
                $('.card').hide();
            }
        });
    </script>
}