
.container {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    z-index: -1;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -100;
}

    .bubbles span {
        position: relative;
        width: 1.5625vw;
        height: 1.5625vw;
        background: #4fc3dc;
        margin: 0 0.208333vw;
        border-radius: 50%;
        box-shadow: 0 0 0 0.520833vw #4fc3dc44, 0 0 2.604167vw #4fc3dc, 0 0 5.208333vw #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }

        .bubbles span:nth-child(even) {
            background: #ff2d75;
            box-shadow: 0 0 0 0.520833vw #ff2d7544, 0 0 2.604167vw #ff2d75, 0 0 5.208333vw #ff2d75;
        }


@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}